<strong><%= current_government.name %></strong>
&nbsp;&nbsp;
<a href="/signup">Sign Up</a>
&nbsp;&nbsp;
<a href="/about">About</a>
&nbsp;&nbsp;
<a href="/about/rules">Rules</a>
&nbsp;&nbsp;
<a href="/about/privacy">Privacy Policy</a>
&nbsp;&nbsp;
Powered by Agora
